---
import Layout from "../layouts/Layout.astro";
import { Cloudinary } from "@cloudinary/url-gen";
import { trim } from "@cloudinary/url-gen/actions/videoEdit";
import { accelerate } from "@cloudinary/url-gen/actions/effect";
import { Image } from "astro:assets";

import config from "../config.json";

import servicesImg from "../assets/images/services.png";
import aboutUsImg from "../assets/images/about-us.png";
---

<Layout title={config.businessName}>
  <section class="max-w-screen-xl mx-auto">
    <div>
      <h1 class="text-6xl">Get In Touch</h1>
      <p>
        We'd love to hear from you! Whether you have a question, need more
        information, or want to discuss how we can help with your fire
        protection needs, don't hesitate to reach out.
      </p>
    </div>
  </section>
</Layout>
